<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF27C4371CFAFC6E00B8BF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF27C4451CFAFE2400B8BF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF27C4531CFAFE3B00B8BF41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8EDB5D1B75A9D8007CA513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8EDB721B75A9D8007CA513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCC9ADE1CFA81A000419111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCC9AEC1CFA831E00419111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCC9AFA1CFA866300419111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCC9B081CFA868C00419111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
